<footer class="footer">
  <div class="p2 wrap">
    <div class="measure copy small">
      <span class="left">
        &copy; 2015 Guy Podjarny.
      </span>
    </div>
    <script>
    window.onload = function(){
      setTimeout(function(){
        window.performance = window.performance || window.mozPerformance || window.msPerformance || window.webkitPerformance || {};
        var t = performance.timing || {};

        if (!t) {
          //fail silently
          return;
        }
        var start = t.navigationStart,
        end = t.loadEventEnd
        loadTime = (end - start) / 1000;

        var copy = document.getElementsByClassName('copy');
        copy[0].innerHTML += "<span class='right'>This page loaded in <strong>" + loadTime + " seconds</strong>.</span>";
      }, 0);
    }
    </script>
  </footer>
